---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About Wildan</h1>
			<p>
				Data Scientist, UI/UX Designer, and Frontend Developer.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <strong>SUMMARY</strong><br>
    <p class="justify">
      Beginning my career as a UI/UX designer in high school in 2019, I have continuously expanded my expertise in data science and backend development during my college years, starting in 2022. As a lifelong learner, I have acquired hands-on experience in multiple domains, including machine learning, statistical modeling, and computer vision. I am dedicated to leveraging data-driven approaches to solve real-world problems, conduct impactful research, and enhance decision-making processes through active participation in diverse organizations and events.
    </p>
    
    <style>
      .justify {
        text-align: justify;
      }
    </style>
    
    <!-- <p>Fugit asperiores harum consectetur sapiente deleniti. Optio enim tenetur impedit reprehenderit labore, illo eius in, consequatur odio dolore iste assumenda explicabo, nisi similique qui obcaecati possimus delectus reiciendis quod modi.</p> -->
    
    <!-- <p>
      Vel tempore rem omnis esse officiis optio, explicabo, quod deleniti adipisci ullam cum necessitatibus eius minus vero saepe ad, dicta rerum praesentium deserunt illo itaque odio corrupti voluptatum quibusdam. Pariatur.
      Porro neque tempore, illum eligendi deleniti iure dolorem amet magnam at dolores veniam nemo cumque aut alias repellat est dicta sit repellendus facilis officia? Minima dolorum quo ducimus adipisci perferendis.
    </p>
    <p>
      Quis distinctio tempora sequi sit repudiandae cumque nostrum deserunt, voluptatibus rem eum fuga modi beatae cum ullam delectus dicta atque eius nam quos corporis. Animi praesentium quae nobis. Odit, mollitia. Voluptatum, hic explicabo. Ex accusamus ipsa ea dolor commodi quas esse ipsum alias et adipisci error necessitatibus atque facere rerum ratione consequatur aspernatur repudiandae minima consectetur fuga, doloremque dolorum pariatur.
      Ipsam error eaque velit possimus porro eum quod illo iusto officia magnam magni, beatae nisi voluptate praesentium? Saepe distinctio adipisci quas hic quae facilis? Sequi eum hic aperiam impedit minus?
    </p> -->
    <p style="text-align: justify;">
      <strong>WORK EXPERIENCE</strong><br>
      <strong>Nusa Quanta Indonesia - Yogyakarta</strong> (2023 - 2024)<br>
      <em>Data Scientist & Backend Developer</em><br>
      ● Data mining, analysis, and machine learning model development.<br>
      ● Backend system design, API development, and database optimization.<br>
      <strong>Tools:</strong> Python, Django, TensorFlow, Scikit-Learn, SQL, Laravel, Express.js, Node.js, Solidity, GCP, Git.<br><br>
    
      <strong>99Design - Freelance</strong><br>
      <em>Logo Designer & UI/UX Designer</em><br>
      ● Research and design logos that integrate company vision and mission.<br>
      ● Finalist in a UI/UX design competition for a fitness trainer certification website.<br>
      <strong>Tools:</strong> Figma, Adobe Illustrator, Adobe XD, Adobe Photoshop.<br><br>
    
      <strong>PT Nuri Gaya Citra - Central Jakarta</strong><br>
      <em>Virtual Internship UI/UX Design</em> (2022 - 2024)<br>
      ● Developed user interfaces & prototypes using Figma.<br><br>
    
      <strong>Welfara Indonesia - Yogyakarta</strong> (2022 - 2023)<br>
      <em>Product Designer & Brand Designer</em><br>
      ● Developed comprehensive brand designs and enhanced brand awareness.<br>
      ● Consulted for companies on brand development.<br><br>
    
      <strong>Wedang Blangkon Yogyakarta - Yogyakarta</strong><br>
      <em>Social Media Designer</em><br>
      ● Created engaging Instagram content, increasing social media impressions by 1100%.<br>
      ● Introduced innovative purchasing options and launched an online store.<br><br>
    </p>
    
  </TextSection>
</Layout>
