---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';

const posts = await Astro.glob('./posts/*.mdx').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
			title: frontmatter.title,
			description: frontmatter.description,
			authors: frontmatter.authors,
			publishDate: parse(frontmatter.publishDate, 'MMMM d, yyyy', new Date()),
			featuredImage: frontmatter.featuredImage,
			excerpt: frontmatter.excerpt,
			href: url,
		}))
		.sort((a, b) => {
			if (isBefore(a.publishDate, b.publishDate)) return 1;
			if (isBefore(b.publishDate, a.publishDate)) return -1;
			return 0;
		})
);

const seo = {
	title: 'Blog | Astro Odyssey Theme',
	description: 'Astro Odyssey Theme Blog Page',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>Project Portfolio</h1>
			<p>
				Below are some key projects that showcase my journey and
				growth across UI/UX design, data science, and backend development,
				reflecting my diverse skill set and commitment to innovation. Mail me if you want to know more about any of these projects.
			</p>
			<NewsletterForm />
		</TextCardSection>
		<section class="blog-posts-list__section">
			<h2>Recent Projects</h2>
			<p>
				Releases on June 26th, 2024
			</p>
			<!-- <BlogPostsList posts={posts} /> -->
		</section>
	</Container>
</Layout>

<style>
	.blog-posts-list__section {
		margin: var(--section-margin) auto;
	}
</style>
